**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.swiftpm/
**/.build/
**/bin/
**/obj/
**/dist/

*.py[cod]
*.exe
*.msi
*.pkg
*.dmg
*.pfx
*.p12
*.p8
*.pem
*.key
.DS_Store

.env
.env.*
!.env.example

